<div class="sidebar">
</div>

<div class="content">

  <div style="margin: 60px 0 20px 5px;">
  </div>
  
  <form class="form-stacked" action="<%= url("/region") %>" method="POST">
    <% for region in @regions %>
      <% key_name = MiddleManager::Store.generate_key(region.name, region.path) %>

      <%= region.store_key %>
      
      <label>
        <h3><span style="font-weight: normal">Editing</span> <%= region.name %></h3>
        <p>
          <textarea class="xxlarge" style="margin: 0.5em 0;" rows="3" name="region_<%= key_name %>"><%= region.value %></textarea>
          <span class="help-block">
            Content will be entered for <b><%= region.name %></b> on <code><%= region.path %></code> <b>(<%= region.title %>)</b>
          </span>
        </p>
      </label>
    <% end %>
    
    <div class="actions">
      <div style="display: inline-block;">
        <input class="btn" type="submit" value="Save" />
      </div>
      <div style="display: inline-block; margin: 0 0 0 1em;">
        <a class="cancel" style="color: #9d261d;" href="<%= url('/') %>">Cancel</a>
      </div>
    </div>
  </form>

</div>

<script>
  $('.cancel').click(function() {
    return confirm("Cancel?");
  })
</script>